src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8085/Backend/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8085/Backend/Servicios?xsd=1" />
</xsd:schema>
</types>
<message name="agregar">
<part name="parameters" element="tns:agregar" />
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse" />
</message>
<message name="listar">
<part name="parameters" element="tns:listar" />
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse" />
</message>
<message name="ListarID">
<part name="parameters" element="tns:ListarID" />
</message>
<message name="ListarIDResponse">
<part name="parameters" element="tns:ListarIDResponse" />
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar" />
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse" />
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar" />
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse" />
</message>
<message name="Flistar">
<part name="parameters" element="tns:Flistar" />
</message>
<message name="FlistarResponse">
<part name="parameters" element="tns:FlistarResponse" />
</message>
<message name="FDlistar">
<part name="parameters" element="tns:FDlistar" />
</message>
<message name="FDlistarResponse">
<part name="parameters" element="tns:FDlistarResponse" />
</message>
<message name="FDlistarID">
<part name="parameters" element="tns:FDlistarID" />
</message>
<message name="FDlistarIDResponse">
<part name="parameters" element="tns:FDlistarIDResponse" />
</message>
<message name="ActualizarDF">
<part name="parameters" element="tns:ActualizarDF" />
</message>
<message name="ActualizarDFResponse">
<part name="parameters" element="tns:ActualizarDFResponse" />
</message>
<message name="agregardf">
<part name="parameters" element="tns:agregardf" />
</message>
<message name="agregardfResponse">
<part name="parameters" element="tns:agregardfResponse" />
</message>
<message name="IngresarLogin">
<part name="parameters" element="tns:IngresarLogin" />
</message>
<message name="IngresarLoginResponse">
<part name="parameters" element="tns:IngresarLoginResponse" />
</message>
<message name="AutenticacionLogin">
<part name="parameters" element="tns:AutenticacionLogin" />
</message>
<message name="AutenticacionLoginResponse">
<part name="parameters" element="tns:AutenticacionLoginResponse" />
</message>
<message name="ActualizarDF1">
<part name="parameters" element="tns:ActualizarDF1" />
</message>
<message name="ActualizarDF1Response">
<part name="parameters" element="tns:ActualizarDF1Response" />
</message>
<message name="deleteDF">
<part name="parameters" element="tns:deleteDF" />
</message>
<message name="deleteDFResponse">
<part name="parameters" element="tns:deleteDFResponse" />
</message>
<message name="DFListar">
<part name="parameters" element="tns:DFListar" />
</message>
<message name="DFListarResponse">
<part name="parameters" element="tns:DFListarResponse" />
</message>
<portType name="Servicios">
<operation name="agregar">
<input wsam:Action="http://WebService/Servicios/agregarRequest" message="tns:agregar" />
<output wsam:Action="http://WebService/Servicios/agregarResponse" message="tns:agregarResponse" />
</operation>
<operation name="listar">
<input wsam:Action="http://WebService/Servicios/listarRequest" message="tns:listar" />
<output wsam:Action="http://WebService/Servicios/listarResponse" message="tns:listarResponse" />
</operation>
<operation name="ListarID">
<input wsam:Action="http://WebService/Servicios/ListarIDRequest" message="tns:ListarID" />
<output wsam:Action="http://WebService/Servicios/ListarIDResponse" message="tns:ListarIDResponse" />
</operation>
<operation name="Actualizar">
<input wsam:Action="http://WebService/Servicios/ActualizarRequest" message="tns:Actualizar" />
<output wsam:Action="http://WebService/Servicios/ActualizarResponse" message="tns:ActualizarResponse" />
</operation>
<operation name="Eliminar">
<input wsam:Action="http://WebService/Servicios/EliminarRequest" message="tns:Eliminar" />
<output wsam:Action="http://WebService/Servicios/EliminarResponse" message="tns:EliminarResponse" />
</operation>
<operation name="Flistar">
<input wsam:Action="http://WebService/Servicios/FlistarRequest" message="tns:Flistar" />
<output wsam:Action="http://WebService/Servicios/FlistarResponse" message="tns:FlistarResponse" />
</operation>
<operation name="FDlistar">
<input wsam:Action="http://WebService/Servicios/FDlistarRequest" message="tns:FDlistar" />
<output wsam:Action="http://WebService/Servicios/FDlistarResponse" message="tns:FDlistarResponse" />
</operation>
<operation name="FDlistarID">
<input wsam:Action="http://WebService/Servicios/FDlistarIDRequest" message="tns:FDlistarID" />
<output wsam:Action="http://WebService/Servicios/FDlistarIDResponse" message="tns:FDlistarIDResponse" />
</operation>
<operation name="ActualizarDF">
<input wsam:Action="http://WebService/Servicios/ActualizarDFRequest" message="tns:ActualizarDF" />
<output wsam:Action="http://WebService/Servicios/ActualizarDFResponse" message="tns:ActualizarDFResponse" />
</operation>
<operation name="agregardf">
<input wsam:Action="http://WebService/Servicios/agregardfRequest" message="tns:agregardf" />
<output wsam:Action="http://WebService/Servicios/agregardfResponse" message="tns:agregardfResponse" />
</operation>
<operation name="IngresarLogin">
<input wsam:Action="http://WebService/Servicios/IngresarLoginRequest" message="tns:IngresarLogin" />
<output wsam:Action="http://WebService/Servicios/IngresarLoginResponse" message="tns:IngresarLoginResponse" />
</operation>
<operation name="AutenticacionLogin">
<input wsam:Action="http://WebService/Servicios/AutenticacionLoginRequest" message="tns:AutenticacionLogin" />
<output wsam:Action="http://WebService/Servicios/AutenticacionLoginResponse" message="tns:AutenticacionLoginResponse" />
</operation>
<operation name="ActualizarDF1">
<input wsam:Action="http://WebService/Servicios/ActualizarDF1Request" message="tns:ActualizarDF1" />
<output wsam:Action="http://WebService/Servicios/ActualizarDF1Response" message="tns:ActualizarDF1Response" />
</operation>
<operation name="deleteDF">
<input wsam:Action="http://WebService/Servicios/deleteDFRequest" message="tns:deleteDF" />
<output wsam:Action="http://WebService/Servicios/deleteDFResponse" message="tns:deleteDFResponse" />
</operation>
<operation name="DFListar">
<input wsam:Action="http://WebService/Servicios/DFListarRequest" message="tns:DFListar" />
<output wsam:Action="http://WebService/Servicios/DFListarResponse" message="tns:DFListarResponse" />
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="agregar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Flistar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="FDlistar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="FDlistarID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarDF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregardf">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AutenticacionLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarDF1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteDF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="DFListar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8085/Backend/Servicios" />
</port>
</service>
</definitions>